:root{

    --white: #FFFAFA;
    --black: #000000;
    --space: font-family: 'Alice', serif;
    --spacecolor: #0b0d19;

}

.menu{

    margin: 0px;
    padding: 0px;

}

header{

    box-sizing: border-box;
    height: 140px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu{

    display: block;
    position: absolute;
    width: 100%;
    top: 140px;
    right: 0px;
    height: 0;
    background: var(--spacecolor);
    transition: .6s;
    z-index: 10000;
    visibility: hidden;
    overflow-y: auto;
}

#nav.active .menu{

    height: calc(100vh - 140px);
    display: block;
    visibility: visible;

}

.menulist a{
    
    display: block;
    font-family: var(--space);
    font-weight: 700;

    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding-bottom: 2em;

    color: var(--white);

}


#btn-mobile{

    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;

}

#hambuguer{

    color: var(--white);
    border-top: 2px solid;
    width: 20px;

}

#hambuguer::after, #hambuguer::before{

    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;

    margin-top: 5px;
    transition: .3s;
    position: relative;

}

#nav.active #hambuguer{

    border-top-color: transparent;

}

#nav.active #hambuguer::before{

    transform: rotate(135deg);

}

#nav.active #hambuguer::after{

    transform: rotate(-135deg);
    top: -7px;

}

.title{

    margin-top: 10px;
    margin-bottom: 10px;

    font-family: var(--space);
    font-weight: 700;
    font-size: 40px;
    color: #FFFAFA;
    text-align: center;

}

.subtitle{

    margin-top: 1em;
    margin-bottom: 1em;

    font-family: var(--space);
    font-size: 25px;
    color: var(--white);
    text-align: center;

}

.textcenter{

    text-align: center;

}

.paragrafos{

    font-family: var(--space);
    color: var(--white);

}

.menu-universe{

    width:100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .6rem;
    padding-bottom: .6rem;

}

.menu-universenav{

    text-align: center;

}

.menu-universeimg{

    margin-top: 2em;

}

.menu-universelist{

    display: inline-block;

    margin-top: .6rem;
    margin-right: 1.2rem;
    margin-bottom: 1rem;
    margin-left: .6rem;

}

.menu-universelist a{

    font-family: var(--space);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);

}

.blur{

    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 16px );
    border: 1px solid rgba(103, 87, 252, 0);

}

.info{

    margin-top: 1em;
    margin-bottom: .5em;

    font-family: var(--space);
    font-size: 15px;
    text-align: center;
    color: var(--white);

}

.distance{

    font-size: 25px;
    text-align: center;

}

.display{

    display: none;

}

@media screen and (min-width: 600px){

    .menu{

        display: flex;
        gap: .5rem;
        background: none;
        visibility: visible;
        overflow-y: visible;
        position: relative;
        right: auto;
        top: auto;
    
    }
    
    .menulist a{
    
        display: block;
        padding-left: .5rem;
        padding-right: .5rem;        
    
    }

    #btn-mobile{

        display: none;

    }

    .menu-universe{

        flex-direction: column;
        justify-content: space-evenly;

        border: none;

    }

    .menu-universelist a{

        font-size: 1.5rem;
        color: var(--white);

    }

    .universe{

        width: 325px;
        height: 325px;

    }

    .paragrafos{

        font-size: 25px;
    
    }

    .textcenter{

        margin-left: 1em;
        margin-right: 1em;
    
    }

    .display1{

        display: none;

    }

    .display{

        display: inline;

    }

    .imgcrew{

        margin-left: 30em;
    
    }

}