body{

    background: url(../assets/crew/background-crew-mobile.jpg);

}

#imgdouglas{

    margin-top: 2em;
    margin-left: 4em;

}

.imgcrew{

    margin-top: 2em;
    margin-left: 2em;

}

@media screen  and (min-width: 457px){
    
    body{

        background: url(../assets/crew/background-crew-tablet.jpg) no-repeat;

    }


}

@media screen  and (min-width: 769px){
    
    body{

        background: url(../assets/crew/background-crew-desktop.jpg) no-repeat;

    }

    #imgdouglas{

        margin-left: 32em;

    }

    .imgcrew{

        margin-left: 32em;
    
    }
}