body{

    background: url(../assets/technology/background-technology-mobile.jpg);

}

@media screen  and (min-width: 457px){

    body{

        background: url(../assets/technology/background-technology-tablet.jpg);

    }

}

@media screen  and (min-width: 769px){

    body{

        background: url(../assets/technology/background-technology-desktop.jpg);

    }

}